/* Mike's Styling */
/* Fonts 
font-family: 'Monoton', cursive;
font-family: 'Petit Formal Script', cursive;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Monofett', cursive;
font-family: 'Vollkorn SC', serif;
font-family: 'Ewert', cursive;
font-family: 'Diplomata SC', cursive; */

body {
  background-image: url(../../assets/images/curtains.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

h1 {
  margin-top: 2px;
  color: gold;
  font-size: 100px;
  text-align: center;
  font-family: "Monoton", cursive;
}

#container {
  margin-top: 50px;
}

#game-board {
  background-image: url(../../assets/images/tonys.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 800px;
  height: 500px;
  left: 380px;
  top: 5px;
  border: 10px solid palegoldenrod;
}

.row {
  height: 175px;
}

#final-screen {
  width: auto;
  height: auto;
}

/*#winner {
  
}*/

#new-game {
  color: black;
  font-size: 25px;
  font-weight: bold;
  width: auto;
  height: auto;
  border: none;
}

#choice {
  color: white;
  margin: auto;
  text-align: center;
}

.btn {
  margin-top: 27px;
  width: 100px;
  height: 100px;
  background-color: palegoldenrod;
  border: 7px solid white;
}

#play-again-btn {
  width: auto;
  height: auto;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 5px;
  font-weight: bold;
  color: black;
  text-align: center;
}

.btn:hover {
  background-color: gold;
  opacity: 50%;
}

.button-group {
  text-align: center;
}

#choice-btn {
  width: auto;
  height: auto;
}

#x {
  width: auto;
  height: auto;
  border: none;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

#o {
  width: auto;
  height: auto;
  border: none;
  font-family: "Rubik Mono One", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-align: center;
}

#playerOne,
#playerTwo {
  color: gold;
  font-family: "Rubik Mono One", sans-serif;
  margin-top: 38px;

}

img {
  width: 150px;
  height: 150px;
  border: 2px solid gold;
}

#xO {
  position: relative;
}

#chuck {
  background-color: palegoldenrod;
  border: 7px solid white;
  text-align: center;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  font-family: 'Bowlby One SC', cursive;
}

#mobile-view {
  visibility: hidden;
}


/* Mobile Media Query */

@media (min-width: 320px) and (max-width: 475px) {
  
  .br br {
    content: ' ';
  }


  
  h1 {
    font-size: 45px; 
  }

  .btn {
    margin-top: 10px;
    width: 75px;
    height: 75px;
    background-color: palegoldenrod;
    border: 7px solid white;    
  }
  
  #playerOne,
  #playerTwo {
    color: gold;
    font-family: "Rubik Mono One", sans-serif;
    margin-top: 15px;
    font-size: 10px;
  }
  
  #playerOne {
    text-align: justify;
  }

  #playerTwo {
  visibility: hidden;
  content: ' ';
  }

  #constant-view {
    display: inline-block;
    float: left;
    
  }

  #mobile-view {
    display: inline-block;
    float: right;
    visibility: visible;
  }

  img {
    width: 100px;
    height: 100px;
    border: 2px solid gold;
  }

  #image-placeholder {
    width: 100px;
    height: 100px;
    border: 2px solid gold;
  }
}